@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto ; /* Resize the background image to cover the entire container */
  background-image: url("../public/assets/axelar.gif");
  background-color: rgb(16, 16, 33);
}